@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using MbmStore.Models;
@{
    ViewData["Title"] = "Customer";
}

<h1>Index</h1>
<a asp-controller="Home" asp-action="Index">Home</a>



<p>
    <ul>

        @foreach (Customer item in ViewBag.Customers)
        {
            <li>
                @item.FirstName @item.LastName is
                @item.CalculateAge(@item.BirthDate) old.
                @string.Join(",", item.PhoneNumbers)
                @*@item.Address
                    @item.City @item.Zip*@
            </li>


        }
    </ul>
</p>
