@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using MbmStore.Models;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-controller="Home" asp-action="Index">Home</a>



<p><ul>
    @foreach (Customer item in ViewBag.customers)
    {
       <li> @item.FirstName @item.LastName @item.Address 
            @item.City @item.Zip</li>


    }
</ul>
    </p>
